.blog {

	&__item {
		display: flex;
		background: $grey;
		color: $color-body;
		width: calc(100% - 3rem);
		margin: 1.5rem;
		flex-direction: column;

		@include below(sm) {
			padding: 0;
		}

		@include above(sm) {
			padding-right: 0;
			flex-direction: row;
		}
	}

	&__header {
		margin-top: 3rem;
		margin-bottom: 3rem;


		@include below(sm) {
			padding: 0 3rem;
		}

		@include above(sm) {
			margin-top: 8rem;
			margin-bottom: 8rem;
		}
	}

	&__title {
		margin-top: 0;
	}

	&__btn {
		margin-top: 1.5rem;
	}

	&__thumbnail {
		background: no-repeat center center;
		background-size: cover;
		min-height: 25rem;
	}

	&__content {

		 a:not(.btn) {
		 	color: $red;
		 }
	}
}