.collage {
	position: relative;

	&__container {
		@extend .wrap, .hpad;
	}

	&__row {
		@extend .row;
		display: flex;
		flex-wrap: wrap;

		@include below(md) {
			flex-direction: column-reverse;
		}
	}

	&__text {
		width: 100%;
		padding-left: 1.5rem;
		padding-right: 1.5rem;

		@include above(md) {
			width: 41.66667%;
		}

		a {
			color: $red;
		}
	}

	&__element {
		text-align: right;
		z-index: -2;
		width: 100%;
		justify-content: flex-end;

		@include above (sm) {
	
		}

		@include above (md) {
			width: 62%;
			display: flex;
			align-items: center;
			position: absolute;
			right: 0;
			padding-right: 0;
			top: 0;
			height: 100%;
		}

		@include above (xl) { 
			width: 50%;
		}

		&--circle {
			position: absolute;
			width: 10rem;
			left: 40%;
			top: 10rem;

			@include above (sm) {
				width: 20rem;
				top: 20rem;
			}
		}
	}
}