.cta {

	&__container {
		padding: 6rem 0rem;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		@include above (sm) { 
			padding-top: 8rem;
			padding-bottom: 8rem;
		}

		@include above (md) { 
			padding-top: 10rem;
			padding-bottom: 10rem;
		}

		@include above (md) { 
			padding-top: 10rem;
			padding-bottom: 10rem;
		}

		@include above (lg) { 
			padding-top: 12rem;
			padding-bottom: 12rem;
		}

		&--overlay {
			@include overlay();
		}
	}

	&__row {
		margin: 0;
	}

	&__col {
		position: relative;
		z-index: 10;
	}

	&__title {
		color: $white;
	}
}