.employees {

	&__mixit {

		@include below(md) {
			width: 100%;
		}	
	}

	&__item {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;

		@include below(xs) {
			width: 100%;
		}	

		@include between(xs, md) {
			width: 50%;
		}
	}

	&__img {
		min-height: 30rem;
		background: no-repeat center center $grey;
		background-size: cover;
	}

	&__content {
		padding-bottom: 1.5rem;
	}

	&__name {
		margin-bottom: 1rem;
	}

	&__position {
		margin-top: 0;
		margin-bottom: 1.5rem;
	}

	&__mail, &__phone {
		color: $color-body;
		transition: all ease .3s;

		&:hover {
			color: $red;
		}
	}
}