
.footer {
	@extend .bg--blue, .padding--both;
	position: relative;
	margin-top: 2rem;

	svg {
		position: absolute;
		top: -1rem;
		z-index: 10;
		max-height: 5rem;

		path {
			fill: $blue;
		}

		@include above (sm) {
			top: -2rem;
		}
	}

	&__container {
		@extend .wrap, .hpad;
	}

	&__row {
		@extend .row, .flex, .flex--wrap, .flex--valign;	
	}


	&__item {
		color: $white;
		line-height: 2;
		padding-left: 1.5rem;
		padding-right: 1.5rem;

		@include below (sm) {
			width: 100%;
		}

		a {
			color: $white;
			transition: all ease .3s;
		}

		@include between (sm, md) {	
			width: 25%;

			&:first-child() {
				width: 50%;
			}
		}

		@include above (md) {			

			&:first-child() {
				width: 33.33333%;
				margin-left: 8.33333%;
			}

			width: 25%;
		
			p {
				margin-bottom: 0;
			}
		}
	}

	&__title {
		color: $white;
		margin-top: 1.5rem;
	}
}
