.gallery {

	&__item {
		min-height: 25rem;
		background: no-repeat center center;
		background-size: cover;
		width: 100%;
		margin: 0;
		position: relative; 

		@include between(xs, sm) {
			width: 50%;
		}

		@include above(sm) {
			width: 33.3%;
		}

		@include above(md) {
			width: 25%;
		}
	}

	&__link {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}