.header {
	position: relative;
	padding-top: 2rem;
	padding-bottom: 2rem;

	&__logo {
		display: flex;
		float: left;

		svg {
			width: 25rem;
			height: 4rem;

			.cls-3 {
				fill: black;
			}

			@include above(md) {
				width: 32rem;
				height: 5.1rem;
			}
		}
	}

	&__cta {
		position: absolute;
		right: 3rem;
		border-radius: 50%;
		top: 17rem;
		overflow: hidden;
		width: 18rem;
		height: 18rem;
		display: none;
		flex-direction: column;
		color: $red;
		font-family: $font-headings;
		background: url(/wp-content/themes/rss_aarhus/assets/img/doodle.svg);
		z-index: 10;

		@include above(sm) {
			display: flex;
		}

		&:hover {

			.header__cta-wrap {
				background: $red;
				color: $white;


				svg {

					path {
						fill: $white;
					}
				}
			}
		}

		&-wrap {
			background: $white;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			margin: 1.5rem;
			border-radius: 50%;
			transition: all ease .3s;

			svg {
				max-width: 4.5rem;

				path {
					fill: $red;
					transition: all ease .3s;
				}
			}
		}

		&-text {
			margin-bottom: 0;
		}

		&-texttop {
			position: relative;
			top: 1.7rem;
		}

		&-textbottom {
			position: relative;
			bottom: 1.7rem;	
		}
	}
}