/********************LAYOUTS********************/

/* Base Styles */


/* WYSIWYGs */
.wysiwygs {

  &__title {

  }

  &__col {

    a:not(.btn) {
      color: $red;
    }
	
  @include above (sm) {

    &.first {

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.last {

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.bg { 

    &--red {
      color: $white;


      h1, h2,
      h3, h4,
      h5, h6 {
        color: $white;
      } 

      svg path {
        stroke: $white;
      }
    }
} 

.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}

  &--reverse {
    flex-direction: row-reverse;
  }
}

//standard paddings change accordion to design
.padding {

  &--top {
    padding-top: 3rem;
  }
  
  &--bottom {
    padding-bottom: 3rem;
  }

  &--both {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 8rem;
    }

    &--bottom {
      padding-bottom: 8rem;
    }

    &--both {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }
}

.margin {

 &--top {
    margin-top: 3rem;
  }
  
  &--bottom {
    margin-bottom: 3rem;
  }

  &--both {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  @include above (sm) {

    &--top {
      margin-top: 8rem;
    }

    &--bottom {
      margin-bottom: 8rem;
    }

    &--both {
      margin-top: 8rem;
      margin-bottom: 8rem;
    }
  }
}