.link-boxes {
	position: relative;
	margin-bottom: 3rem;

	@include above (sm) {
		margin-bottom: 10rem;
	}
 
	&__header {

	}

	&__container {
		@extend .wrap, .hpad;
		position: relative;
	}

	&__row {
		@extend .row, .flex, .flex--wrap;
	}

	&__item {
		min-height: 35rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		background: no-repeat center center;
		background-size: cover;
		margin: 1.5rem;
		width: 100%;

		@include between (sm, md) {
			width: calc(50% - 3rem);
		}

		@include above (md) {
			width: calc(33.3% - 3rem);
		}

		@include overlay();

		&:hover {

			&:after {
				background-color: rgba($red, .8);
			}
		}
	}

	&__wrap {
		padding: 1.5rem;

		@include above (lg) {
			padding: 3rem;
		}
	}

	&__title {
		color: $white;
		text-transform: uppercase;
		position: relative;
		z-index: 10;
		margin: 0;
	}

	&__btn {
		background: $red;
		color: $white;
		font-weight: 700;
		position: relative;
		z-index: 10;
	}

	&__bg {
		position: absolute;
		width: 80rem;
		bottom: -15rem;
		z-index: -1;
		right: 0;
	}

	&__pointer {
		position: absolute;
		right: -100%; 
		width: 38rem;
		bottom: -20rem;
		z-index: 2;
		transition: all 1.2s ease;
		transform: rotate(-4deg);

		&.in-view {
			right: -12.5rem; 
		}

		@include above (sm) {
			bottom: -20rem;
			width: 45rem;

			&.in-view {
				right: -14.5rem; 
			}
		}
	}

	&__branch {
		position: absolute;
		right: -9rem;
		bottom: -22rem;

		img {
			width: 28rem;
		}

		@include above (sm) {
			bottom: -35rem;

			img {
				width: 50rem;
			}
		}
	}
}