.nav {

	@include above (sm) {
		display: flex;
	}

	&__menu {
	    list-style: none;
	    position: absolute;
	    z-index: 100;
	    width: 100%;
	    top: 0;
	    left: 0;
	    margin: 0;
	    padding: 0;

		@include above (sm) {
			position: relative;
			width: auto;
			top: 0;
			float: right;
			display: block !important;
		}

		&--toolbar {

			@include below(sm) {
				display: none;
			}

			.nav__link {
				color: $white;
				font-size: 1.2rem;
				padding: 0rem 1rem;
			}
		}
	}

	&__item {
		list-style: none;
		padding: .5rem 1.5rem;

		@include below (sm) {
			opacity: 0;
			transform: translateY(1rem);

			&.is-animated {
				opacity: 1;
				transform: translateY(0);
				transition: ease .3s;
				transition-delay: .1s;
			}
		}

		@include above (sm) {
			float: left;
			padding: 1rem .5rem;
			display: inline-block;
			position: relative;
		}

		@include above (md) {
			padding: 1rem;
		}

		&.is-active > a {
			color: $red;
		}

		&.hidden-sm {

			@include above (sm) {
				display: none;
			}
		}

		&.is-dropdown {

			@include above (sm) {

				&:hover {

					.nav__dropdown {
						display: block!important;
					}
				}
			}
		}
	}


	&__link {
		font-weight: 700;
		color: $color-body;
		transition: all ease .3s;
		font-size: 1.5rem;
		font-family: $font-headings;

		@include above (sm) {
			font-size: 1.3rem;
		}

		@include above (md) {
			font-size: 1.5rem;
		}

		&:hover {
			color: $red;
		}

		&.is-active {
			color: $red;
		}
	}



	&__icon {
		display: flex;
		align-items: center;
		position: absolute;
		right: -3.3rem;
		height: 100%;
		top: 0;
		width: 4.3rem;
		justify-content: center;

		@include above (sm) {
			display: none;
		}

		img {
			width: 1.5rem;
			height: 1.5rem;
		}
	}


	&__dropdown {
		display: none;
		padding: 0;
		position: relative;
		top: 100%;
		background: $white;

		@include above(sm) {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}

		&.is-visible {
			display: block;
		}

		&-trigger {

			@include below (sm) {
				pointer-events: none;
				position: relative;
			}
		}

		.nav__item {

			@include below (sm) {
				opacity: 1;
				transform: translateY(0);
			}
		}

		li {
			padding: .5rem 1rem;
			float: none;
			display: block;
		}

		a {
			padding: 0.5rem 1rem;
			white-space: nowrap;
			display: flex;

			&:hover {
				text-decoration: none;
			}
		}
	}
	


	&--mobile {
		
		@include below (sm) {
			position: fixed;
			z-index: 78888;
			top: 12.6rem;
			right: 0;
			height: calc(100% - 13rem);
			width: 100%;
			transform: translateX(100%);
			transition: all .6s cubic-bezier(1, 0, 0, 1); 
			background: $white;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;

			&.is-open {
				transform: translateX(0);
			}

			// Set body to fixed
			@at-root {		
				body.is-fixed {
					@include below (sm) {
						overflow: hidden;
						position: fixed;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}


	&-toggle {
		display: block;
		position: relative;
		z-index:  88888;
		cursor: pointer;

		@include above (sm) {
			display: none;
		}

		&__label {
			color: $black;
			font-weight: 600;
			vertical-align: middle;
			padding-right: .3rem;
			display: none;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 2rem;
			height: 3px;
			background: $black;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 3px;
				background: $black;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.6rem;
			}

			&::after {
				top: -.6rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}