.page {
	  
	&__hero {
		background: no-repeat center center;
		background-size: cover;
		position: relative;
		padding-top: 10rem;
		padding-bottom: 10rem;

		@include above (sm) {
			padding-top: 25vh;
			padding-bottom: 25vh;
		}

		svg {
			position: absolute;
			bottom: -.2rem;
			z-index: 10;
			width: 100%;
			max-height: 5rem;

			path {
				width: 100%;
			}
		}

		&--overlay {

			@include overlay(
				$zIndex: 2
			);
		}
	}

	&__container {
		@extend .wrap, .hpad;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 10;
	}

	&__title {
		color: $white;
	}
}
