.related-links {
	display: none;
	position: relative;

	@include above (sm) {
		display: block;
	}

	&__container {
		@extend .wrap, .hpad;
	}

	&__row {
		@extend .row, .flex, .flex--wrap;
	}

	&__item {
		margin: 1.5rem;
		padding: 2.5rem 1.5rem;
		color: $white;
		background: $red;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		background: no-repeat center center;
		background-size: cover;

		@include above (sm) {
			width: calc(33.3% - 3rem);
			min-height: 25rem;			
		}

		@include above (md) {
			width: calc(25% - 3rem);
		}

		@include overlay();

		&:hover {

			&:after {
				background-color: rgba($red, .8);
			}
		}
	}

	&__wrap {
		padding: 1.5rem;
		padding-bottom: 0;
	}

	&__title {
		margin: 0;
		color: $white;
		text-transform: uppercase;
		position: relative;
		z-index: 10;
	}

	&__bg {
		position: absolute;
    	width: 70rem;
    	bottom: 0rem;
    	z-index: -1;
    	left: 50%;
    	transform: translateX(-50%);
	}
}