.search {

	&__item {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		display: flex;
		flex-wrap: wrap;
		background: $grey;
		color: $color-body;

		@include above(sm) {
			width: calc(100% - 3rem);
			margin: 1.5rem;
			padding-right: 0;
		}
	}

	&__header {
		margin-top: 8rem;
		margin-bottom: 8rem;
	}

	&__title {
		margin-top: 0;
	}

	&__btn {
		margin-top: 1.5rem;
	}

	&__thumbnail {
		background: no-repeat center center;
		background-size: cover;
	}
}