.sidebar {

	&__col {

		@include below(md) {
			width: 100%;
			padding-bottom: 3rem;
		}
	}

	&__title {
		margin-top: 0;
	}

	&__filter {

		&:hover {
			cursor: pointer;
		}
	}
}

.mixitup-control-active {
	color: $red;
}