.slider {
	position: relative;

	svg {
		position: absolute;
		bottom: -.2rem;
		z-index: 10;
		width: 100%;
		max-height: 5rem;

		path {
			width: 100%;
		}
	}

	&--hero {

		.slider__container {
			position: absolute;
			top: calc(50% - 3.3rem);
			left: 50%;
			transform: translate(-50%, -50%);
			pointer-events: none;
		}

		.slider__item {

			&:before {
				padding-bottom: 20rem;
				padding-top: 20rem;	

				@include above (sm) {
					padding-bottom: 50vh;
				}
			}
		}
	}

	&__track {

	}

	&__item {
		position: relative;
		z-index: 4;
		width: 100%;
		background: no-repeat center center;
		background-size: cover;

		&:before {
			content: '';
			display: block;
			height: 0;
			padding-bottom: 20rem;
			padding-top: 20rem;	

			@include above (sm) {
				padding-bottom: 60vh;
			}
		}

		&--overlay {

			@include overlay(
				$zIndex: 2
			);
		}
	}

	&__container {
		@extend .center;
		position: relative;
		z-index: 10;
	}

	&__title {
		color: $white;
		margin-top: 0;

		@include above (sm) {
			font-size: 3.2rem;
		}

		@include above (lg) {
			font-size: 4.2rem;
		}
	}

	&__text {
		color: $white;
		font-weight: 600;
		position: relative;
		z-index: 10;

		@include above (sm) {
			font-size: 2.2rem;
		}

		@include above (lg) {
			font-size: 3.2rem;
		}


		&--hero {
			padding-top: 6rem;
			font-size: 2rem;

			@include above (sm) {
				font-size: 1.8rem;
				padding-top: 12rem;
			}

			@include above (lg) {
				font-size: 2.8rem;
			}
		}
	}	
}


/**
 * Owl Carousel core
 **/

.is-slider {
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;

		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		&-outer {
			position: relative;
			overflow: hidden;
			-webkit-transform: translate3d(0, 0, 0);
		}
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-transform: translate3d(0,0,0);
	}

	// Navigation
	.owl-nav,
	.owl-dots {
		&.disabled {
			display: none;
		}
	}

	.owl-dots {
		position: absolute;
		bottom: 5rem;
		width: 100%;
		text-align: center;
		z-index: 20;
	}

	.owl-prev,
	.owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all .3s ease;

		&.disabled {
			opacity: 0;
			cursor: default;
		}
	}

	.owl-dot {
		width: 1.5rem;
		height: 1.5rem;
		display: inline-block;
		background: $white;
		border-radius: 50%;
		margin: .5rem;

		&.active {
			background: $red;
		}
	}

	// States
	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}

	/**
	 * Animations
	 **/

	 // Defaults
	.animated {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}

	.owl-animated-in {
		z-index: 0;
	}

	.owl-animated-out {
		z-index: 1;
	}
}