.text-image {
	position: relative;

	&__content {

		a:not(.btn) {
			color: $red;
		}

		@include above(sm) {
			margin-top: 3rem;
			margin-bottom: 3rem;

			&.right {
				padding-right: 1.5rem;
			}

			&.left {
				padding-left: 1.5rem;
			}
		}

		@include above(md) {
			margin-top: 8rem;
			margin-bottom: 8rem;

			&.right {
				padding-right: 3rem;
			}

			&.left {
				padding-left: 3rem;
			}
		}

		p:last-child() {
			margin-bottom: 0;
		}
	}

	&__title {
		margin-top: 0;
	}

	&__image {
		background: no-repeat center center;
		background-size: cover;
		background-clip: content-box;

		@include below(sm) {
			margin-top: 3rem;
			min-height: 30rem;
			width: 100%;
		}
	}

	&__bg {
		position: absolute;
		width: 80rem;
		bottom: 0rem;
		height: 100%;
		z-index: -1;
		left: 50%;

		@include below(sm) {
			opacity: .2;
		}

		&--left {
			right: 50%;
			left: initial;			
		}
	}
}