.toolbar {
	@extend .bg--blue;
	padding-top: 1rem;
	padding-bottom: 1rem;

	&__container {
		@extend .wrap, .hpad, .flex, .flex--wrap, .flex--center;

		@include below(sm) {
			justify-content: space-between;
		}

		@include above(sm) {
			justify-content: flex-end;
		}
	}

	&__form {

		@include above(sm) {
			padding: 0rem 3rem;
		}

		@include above(md) {
			padding: 0rem 5rem;
		}
	}

	&__input {
		background: transparent;		
		border: .1rem solid $white;
		color: $white;
		padding: .5rem 1rem;
		outline: none;
		-webkit-appearance: none;
		transition: all ease .3s;
		font-size: 1.4rem;

		&:focus {
			background: $white;
			color: $blue;
			
			&::placeholder { 
				color: $blue;
			}			
		}

		&::placeholder { 
  			color: $white;
  			opacity: 1;
		}
	}

	&__social {

		&-link {
			display: inline-flex;
			align-items: center;
			justify-content: center;

			& + & {
				margin-left: .5rem;
			}

			i {
				padding: .2rem;
				color: $blue;
				background: $white;
				width: 2.5rem;
				height: 2.5rem;
				border-radius: 50%;
				display: inline-flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				transition: all ease .3s;

				&:hover {
					background: $red;
					color: $white;
				}
			}
		}
	}
}