.btn {
	display: inline-block;
	padding: 1.5rem 2.5rem;
	font-family: $font-headings;
	transition: all ease .3s;

	&:hover {
		cursor: pointer;
	}

	&--red {
		background: $red;
		color: $white;

		&:hover {
			background: darken($red, 5%);
		}
	}
}