.feed {
	@extend .padding--both;

	&__container {
		@extend .center;
	}

	&__title {
		padding-bottom: 3rem;
	}

	&__btn {
		padding-top: 3rem;

		@include above (sm) {
			padding-top: 5rem;
		}
	}

	&__bg {
		position: absolute;
		width: 80rem;
		bottom: 25rem;
		z-index: -1;
		left: 50%;
		transform: translateX(-50%);
	}
}

.lightwidget {

	&__link {
		max-height: 25rem;
		overflow: hidden;

		&:focus {

			&:after {
				box-shadow: none !important;
			}
		}
	}
}