//gravity forms
.gform {

	&_wrapper {
		margin: 0 !important;
		max-width: none !important;
	}

	&_body {
		width: 100% !important;
	}

	&_fields {
		list-style: none;
		padding-left: 0;
	}

	&_title {
		font-size: 2.8rem !important;
		text-transform: uppercase;
		margin-bottom: 3rem !important;
		margin-top: 0 !important;
	}

	// Submit
	&_button {
		margin: 0 !important;
		display: inline-block;
		-webkit-appearance: none;
		cursor: pointer;
		transition: all .3s ease; 
		outline: none;
		border: none;

		@extend .btn--red, .btn;

		&:hover {

		}
	}

	// Submit wrapper
	&_footer {
		
	}

	&_confirmation_wrapper {
		
	}
}

/**
 * Form fields
 **/

.gfield {
	margin-bottom: 1.5rem;
	padding-right: 0 !important;


	// Labels
	&_label {
		
	}	

	&_required {
		color: red;
	}

	// Description
	&_description {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	// Fields
	input[type="email"],
	input[type="text"],
	textarea {
		display: block;
		padding: .5rem;
		line-height: 1 !important;
		border: none;
		border: .1rem solid $black;
		-webkit-appearance: none;
		transition: all 0.3s ease;
		padding: 8px 5px!important;
		text-indent: 1rem;
		padding-left: 0 !important;
		border-radius: 0;

		&:hover, &:focus {
			
		}

		&:focus, &:active, &:visited {
			outline: none;
			
		}
	}

	select {
		padding: 8px 5px!important;
		border: .1rem solid $black;
		appearance: none;
		background-image: url('/wp-content/themes/rss_aarhus/assets/img/arrow-down.svg');
		background-size: 1.2rem 1.2rem;
		background-repeat: no-repeat;
		background-position: calc(100% - 1rem) center;
	}
}

.gf_left_half, .gf_right_half {
	@media (min-width: 640px) {
		width: calc(50% - .5rem)!important;
		margin-bottom: 3rem!important;
		margin-top: 0!important;
	}
}

.gf_left_third, .gf_middle_third,
.gf_right_third {
	@media (min-width: 640px) {
		width: calc(33.3% - 1rem)!important;
		margin-top: 0!important;
	}
}

.gf_left_half {
	@media (min-width: 640px) {
		margin-right: .99rem;
	}
}

.gf_left_third, .gf_middle_third {
	@media (min-width: 640px) {
		margin-right: 1.5rem;
	}
}

.datepicker {
	width: 100% !important;	
}

/**
 * Validations
 **/

.validation_error {
	color: red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100%!important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: red !important;
	}

	.validation_message {
		color: red !important;
		font-size: 1.2rem !important;
	}

	input[type="email"],
	input[type="text"],
	textarea {
		border: 0.2rem solid red !important;
	}
}

input::placeholder {
	color: rgba($color-body, 1);			
}


textarea::placeholder {
	color: rgba($color-body, 1);				
}