// Embeds responsive

.embed {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  &__item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }
  
  &--16-9 {
    padding-bottom: 56.25%;
  }

  &--4-3 {
    padding-bottom: 75%;
  }
}
