/********************GLOBAL********************/

* {
  /* (http://paulirish.com/2012/box-sizing-border-box-ftw/) */
  box-sizing: border-box;

  &:after,
  &:before {
    box-sizing: border-box;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  font-family: $font-body;
  color: $color-body;
}

body {
  background-color: $white;
  overflow-x: hidden;
  line-height: 1.8;
  margin: 0;
  font-weight: 300;
  font-size: $base-font-size;

  @include above (sm) {
    font-size: $base-font-size-desktop;
  }
}

/* Links */
a, .a {
  text-decoration: none;
  outline: none;
}

/* Figures and Blockquotes */
figcaption {
  font-style: italic;
  text-align: center;
}


blockquote {
  position: relative;
  font-size: 1.8rem;
  padding-left: 1.5rem;
  margin-left: 0;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    background: $red;
    width: .2rem;
    height: 100%;
    top: 0;
  }
}

cite {
  display: block;
  font-style: normal;
}

/* Paragraphs and Lists
   ========================================================================== */

p, ul, ol {
  margin: 0 0 1.5rem;
}

ul, ol {
  ul, ol {
    margin-bottom: 0;
  }
}

strong {
  font-weight: 700;
}


/* Default Image Styles */
img {
  height: auto;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  margin: 1.5rem 0rem;

  th, td {
    text-align: left;
    padding: 1rem 1.5rem;
  }

  th {
    background: $red;
    color: $white;
    font-family: $font-headings;
  }

  tr {
     
     a {
      color: $color-body !important;
      transition: all ease .3s;

      &:hover {
        color: $red !important;
      }
     }

    &:nth-child(even) {
      background: $grey;
    }
  }
}

/* WordPress Image Styles */
[class^="wp-image-"], [class*=" wp-image-"], .wp-caption {
  display: block;
  height: auto;
  max-width: 100%;

  .wp-caption & {
    padding: 0;
    border: 0;
  }

  .wp-caption-text {
    font-size: 75%;
    font-style: italic;
    margin: 0;
    padding: 16px 16px 12px;
  }
}

/* Containers */
.wrap, .contain, .constrain {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  word-wrap: break-word;
}

.wrap {
  max-width: 140rem;
}

.contain {
  max-width: 70rem;
}

.constrain {
  max-width: 45rem;
}

/*
 * HELPER CLASSES
 */

.hpad {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.center {
  text-align: center;
}

.alignleft {
  margin: 1rem auto;

  @include above (sm) {
    margin: 0 1rem 1rem 0;
    float: left;
  }
}

.aligncenter {
  margin: 1rem auto;
  clear: both;
}

.alignright {
  margin: 1rem auto;

  @include above (sm) {
    margin: 0 0 1rem 1rem;
    float: right;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}