/********************MIXINS*********************/

@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}


@mixin overlay($color: $black, $opacity: .3, $zIndex: 0) {
	position: relative;

	&:after {
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background-color: rgba($color, $opacity);
	    content: '';
	    top: 0;
	    left: 0;
	    z-index: $zIndex;
	    transition: all ease .3s;
	}
}