/********************VARIABLES********************/

// Custom fonts example (modify as needed)
@font-face { 
  font-family: 'Open Sans'; 
  src: url('/wp-content/themes/rss_aarhus/assets/fonts/OpenSans-Light.ttf') format('TrueType');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face { 
  font-family: 'Open Sans'; 
  src: url('/wp-content/themes/rss_aarhus/assets/fonts/OpenSans-Bold.ttf') format('TrueType');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face { 
  font-family: 'antropos'; 
  src: url('/wp-content/themes/rss_aarhus/assets/fonts/baar-antropos.ttf') format('TrueType');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Fonts
$font-body: 'Open Sans', serif; 
$font-headings: 'antropos', sans-serif;

// Base sizes
$base-font-size: 16px; // General font-size, also used for mobile - default 16px
$base-font-size-desktop: 16px; // Desktop font-size - default 16px 

/********* Colors *********/

$white: white;
$black: black;
$grey: #d9e2e1;

$blue: #172152;
$red: #a71010;

// Set font colors
$color-body: $black;
$color-headings: $color-body;


// Bootstrap Grid only
//


// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 480px,
  // Small screen / phone
  sm: 768px,
  // Medium screen / tablet
  md: 992px,
  // Large screen / desktop
  lg: 1170px,
  // Extra large screen / wide desktop
  xl: 1400px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width:          3rem !default; // 2rem

//missing variables
$enable-flex:               false !default;
$enable-grid-classes:        true !default;